
body {
    margin-top: 20px;
    background-image: radial-gradient(rgb(48, 46, 46),rgb(36, 36, 36) 35%);
}

.al {
    text-align: center;
    font-size: 18px;
    padding: 16px 34px;
    margin: 4px;
    border: 0;
    outline: 0;
    border-radius: 4px;
    cursor: pointer;
    background: transparent;
    position: relative;
    transition: .5s;
    font-family: 'Poppins';
    font-weight: 800;
    text-decoration: none;
    color: rgb(170, 240, 156);
}

.al:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: black;
    text-emphasis-color: black;
    z-index: -1;
    transform: scale(0.3);
    transition: .5s;
    visibility: hidden;
    border-radius: 20px;
}

.al:hover {
    color: #fff;
}

.al:hover:before {
    transform: scale(1);
    opacity: 1;
    visibility: visible;
}

.center-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    color:rgb(170, 240, 156);
    font-family: "Poppins";
}

.big-header {
    color:rgb(66, 146, 50);
    font-size: 70px;
    background: linear-gradient(90deg, rgb(33, 221, 90) 0%, rgb(37, 179, 32) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    text-shadow: 0 0 20px rgb(89, 238, 96); 
    margin: 0;
    transition: transform 0.3s ease, color 0.3s ease;
}

h1 {
    color: rgb(66, 146, 50);
    text-shadow: 0 0 5px rgb(170, 240, 156);
    transition: text-shadow 0.3s ease-in-out;
    text-shadow: 0 0 30px rgb(87, 185, 67) /* Smooth transition */
}



.big-header:hover {
    color: #f8ed52;
    transform: scale(1.1);
}

.spacing {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.special-sauce {
    color:rgb(170, 240, 156);
    font-family: "Poppins";
}

.img_pro {
    float: right;
    width: 480px;
    height: 500px;
    margin-left: 50px;
    border-radius: 350px 200px 360px 102px;
    border: 1px
}

.small-img {
    display: flex;
    gap: 20px;
    width: 200px;
    height: 200px;
    margin: 20px;
}

.flexbox {
    display: flex;
    align-items: center;
    gap: 50px;
    margin: 50px;
}

.h2-size {
    font-size: 40px;
}

.border-up {
    border: 1px solid;
    border-radius: 72px;
}

.stack-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    list-style-type: none;
}

.text-highlight-1 {
    text-shadow: 0 0 10px lime, 0 0 20px rgb(89, 238, 96), 0 0 30px green; 
}

.text-highlight-2 {
    text-shadow: 0 0 10px rgb(107, 243, 107), 0 0 20px green; 
}

.image-button {
    width: 50px; /* Set desired width */
    height: 50px; /* Set desired height */
    border: 1px solid;
    background-color: black;
    border-radius: 100%; /* Set border width and initial color */
    background-image: url('github.black.png');
    background-size: contain; /* Ensures the image covers the button area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: transparent; /* Adjust text color if needed */
    font-size: 16px; /* Set font size */
    font-family: Arial, sans-serif; /* Set font family */
    cursor: pointer; /* Cursor changes to pointer on hover */
}

.image-button-2 {
    width: 50px; /* Set desired width */
    height: 50px; /* Set desired height */
    border: 1px solid transparent;
    border-radius: 100%; /* Set border width and initial color */
    background-image: url('LinkedIn-aptrans.webp');
    background-size: contain; /* Ensures the image covers the button area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: transparent; /* Adjust text color if needed */
    font-size: 16px; /* Set font size */
    font-family: Arial, sans-serif; /* Set font family */
    cursor: pointer; /* Cursor changes to pointer on hover */
}

.image-button-3 {
    width: 50px; /* Set desired width */
    height: 50px; /* Set desired height */
    border: 1px solid transparent;
    border-radius: 100%; /* Set border width and initial color */
    background-image: url('Replit_Logo.png');
    background-size: contain; /* Ensures the image covers the button area */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    color: transparent; /* Adjust text color if needed */
    font-size: 16px; /* Set font size */
    font-family: Arial, sans-serif; /* Set font family */
    cursor: pointer; /* Cursor changes to pointer on hover */
}

.image-button:hover {
    border-width: 5px;
    border-color: rgb(100, 221, 70);
}

.image-button-2:hover {
    border-width: 5px;
    border-color: rgb(100, 221, 70);
}

.image-button-3:hover {
    border-width: 5px;
    border-color: rgb(100, 221, 70);
}

.box {
    display: flex;
    align-items: center;
    margin-right: 50px;
}

.default {
    margin: 0;
    padding: 0;
}